body,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Montserrat", sans-serif;
}
.auto{
  margin: auto;
}
.width-100 {
  max-width: 100%;
}
.w-90{
  width: 70%;
}
.world{
  margin-top: 30px;
  height: 500px;
  overflow-y: scroll;
}
.world .title::before{
  content: "• ";
    font-size: 32px;
    color: #17598d;
    padding-top: 35px;
}

.world .desc{
  border-left: 1px solid #C3BCBC;
    margin-left: 5px;
    padding: 5px 15px 39px 15px;
}
.navbar {
  margin-bottom: 0;
  background-color: #17598D;
  z-index: 9999;
  border: 0;
  font-size: 16px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0px;
  margin-top: 45px;
}
.alert{
  position: fixed;
  top: 0px;
  background: red;
  z-index: 111;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 10px 10px;
  font-weight: 700;
}
.navbar .navbar-brand {
  padding: 0px;
  margin: 14px 0px;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 350px;
  perspective: 1000px;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 23px;
}
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 23px;
}
.flip-card-front {
  background-color: #17598D;
  color: white;
}

.flip-card-back {
  background-color: #D3FFD4;
  transform: rotateY(180deg);

  font-family: 'Mallory';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
text-align: center;

color: #0B4A34;

border: 1px solid #15A319;
border-radius: 23px;
}

.flip-card-front p {
  text-align: center;
  padding: 110px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
}

.flip-card-back p {
  
  font-style: normal;
  text-align: justify;
  padding: 99px 17px;
};



.navbar .navbar-brand img {
  width: 80%;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar li a {
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  /* identical to box height */

  letter-spacing: 0.5px;
  margin: 14px 0px;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #222121 !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.container-fluid {
  padding: 60px 50px;
}

.btn {
  font-size: 35px;
  background: #8CE58B;
  border-radius: 10px;
  font-weight: 700;
  width: 273px;
  height: 78px;
  color: #fff;
  margin-left: 80px;
  margin-top: -110px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding:12px 12px;
}

.btn-blue li {
  list-style-type: none;
}

.btn-blue a {
  background: #F0E4FC;
  border: 1px solid #7e2dfc;
  font-size: 21px;
  color: #818181;
  width: 200px;
  /* height: 60px; */
  margin-top: 30px;
  display: inline-block;
  padding: 18px;

  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.26);
  border-radius: 15px;

}

.btn-blue a:hover {
  text-decoration: none;
}

.btn-top {
  margin-top: 10px;
}

.bg-color-blue {
  background-color: #F1F0EF;
}


.list {
  color: #fff61d;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  text-align: left;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: -0.5px;
  color: #04162f;
  padding: 50px 0px 30px 0px;
}



.bg-color-yellow {
  background: #FFDF7F;
  padding: 30px 0px 30px 0px;
}

.entrepreneures {
  padding-right: 340px;
}

.entrepreneures p {
  text-align: left;
  color: white;
  margin-top: 12px;
  font-size: 26px;
}

.tranches img {
  display: inline;
  position: absolute;
  top: -104px;
  right: -19px;
}

.position-relative {
  position: relative;
}

.margin-head h2 {
  padding: 45px 0px 45px 0px;
  font-weight: 600;
}

.image-width {
  width: 100%;
}

.teams .member {
  width: 85%;
}

.teams img {
  color: #868686;
}

.teams h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: 20px 0px 2px 0px;

  text-align: center;

  color: #04162f;
}

.teams p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */

  text-align: center;

  color: #868686;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.teams .linkidin {
  width: 29px;
}

.image {
  height: 56px;

}



.contact {
  background: #8e2ef2;
  padding: 28px 0px;
  margin-top: 100px;
}

.mt-text {
  padding: 120px 80px;

}

.mt-90 {
  margin-top: 90px;
}

.width-100 img {
  width: 100%;
}

.txt-align {
  text-align: justify;
}

.entre-txt {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 74px;

  color: #000000;
  text-align: left;
}

.contact-section {
  width: 60%;
  margin: auto;
  text-align: left;
}

.contact-section input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 60px;
  padding: 26px 32px;
}

.contactHead {
  color: white !important;
}

.mg-0 {
  margin-right: 0 !important;
}

.contact-us {
  background: #ffdb1d;
  border-radius: 60px;
  padding: 12px 23px !important;
  margin: 14px 0px;
  color: #000 !important;
  margin-left: 23px !important;
}
.navbar-brand img{
  width: 85%;
}


.max-width {
  max-width: 100%;
}

.Reviews-section {
  background-color: #8e2ef2;
  width: 900px;
  height: 400px;
  border-radius: 6px;
}

.Reviews-section p {
  font-size: 18px;
  text-align: center;
  color: white;
  font-weight: 500;
  text-align: justify;
  font: Montserrat;
  padding: 100px 80px 0px 80px;
}

.Reviews-section h2 {
  color: white;
}

.Reviews-section-image {
  float: left;
}

.text-msg input {
  border-radius: 10px;
  height: 110px;
  margin-top: 20px;
}

.text-msg TEXTAREA {
  border-radius: 20px;
}



.home {
  margin-top: 65px;
}

.box-enter .box {
  width: 254px;
  height: 292px;
  background: #F4EC2C;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 25%;
  text-align: center;
  padding-top: 68px;
  border-radius: 20px;
}

.avatar img {
  border-radius: 50%;
  width: 112px;
}

.tranchesWrap h3 {
  min-height: 64px;
}

#press .col-sm-3 {
  line-height: 133px;
}

.box-enter .box button {
  width: 159px;
  background: #096EFA;
  border-radius: 60px;
  padding: 13px 12px;
  color: #fff;
  margin-top: 20px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.5px;
}

.head {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  margin-top: 80px;
  color: #636161;
  /* or 135% */

  text-align: center;


  margin-bottom: 50px;
}

.bannerText {
  font-size: 70px;
}

.section-2 img {
  border-radius: 20px;
  box-shadow: rgb(142 46 242) 0px 9px 0px;
  border-collapse: collapse;
}

.margin-top {
  margin-top: 50px;
}

.carousel-indicators li  {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #d9d9d9;
  border: 1px solid #fff;
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 20px;
  height: 20px;
  margin: 1px;
  background-color: #17598D !important;
}

.section-2 h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height */

  text-align: center;

  color: #1d0042;
  margin: 36px 0px 20px 0px;
}
.image9 img {
  padding: 55px 47px 0px 28px;
}

.video{
  margin-top: 20px !important;
  width: 100%;
}
.video video{
  width: 100%;
}
.mt-100 {
  margin-top: 100px;
  margin-bottom: 120px;
}

.backers {
  margin-bottom: 85px;
}

.backers img {
  max-width: 100%;
}

.carousel-indicators {
  bottom: -65px !important;
}

.outer-testi .title {
  min-height: 88px;
  position: relative;
}

.outer-testi {
  position: relative;
  background: #d9d9d9;
  border-radius: 10px;
  padding: 15px 50px;
}

.outer-testi .left-icon {
  position: absolute;
  bottom: 0px;
}

.outer-testi p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  padding-top: 17px;
  text-align: justify;

  color: #818181;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.testi-wrap {
  margin: 130px 0px;
}

.inner-testi {
  position: absolute;
  top: -49px;
  margin: 0px 120px;
  z-index: 111111;
  /* min-height: 737px; */
  background: #8e2ef2;
  border-radius: 10px;
  min-height: 338px;
}

.inner-testi p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  text-align: justify;

  color: #ffffff;

  margin-top: 19px;
}

.inner-testi .name {
  align-items: center;
  display: flex;
  margin-right: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
}

.inner-testi .left-icon {
  bottom: -30px;
  left: -23px;
}

.review {
  margin: 100px 0px 0px 0px;
}

.story {
  margin: 100px 0px 100px 0px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  left: -23%;
  margin-left: -10px;
}

.glyphicon-chevron-left:before {
  content: "\e079";
  color: #000;
}

.glyphicon-chevron-right:before {
  color: #000;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  right: -21%;
  margin-right: -10px;
}

div label input {
  margin-right: 100px;
}

.cat {
  margin: 4px;
  background-color: #104068;
  border-radius: 4px;
  overflow: hidden;
  float: left;
  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */

  text-align: center;

  color: #000000;
  margin: 20px 20px;
  cursor: pointer;
}

.cat label {
  float: left;
  line-height: 3em;
  width: 10em;
  height: 3em;
}

.cat label span {
  text-align: center;
  padding: 3px 0;
  display: block;
}

.cat label input {
  position: absolute;
  display: none;
  color: #fff !important;
}

/* selects all of the text within the input element and changes the color of the text */
.cat label input+span {
  color: #000;
  cursor: pointer;
}

/* This will declare how a selected input will look giving generic properties */
.cat input:checked+span {
  color: #ffffff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

/*
This following statements selects each category individually that contains an input element that is a checkbox and is checked (or selected) and chabges the background color of the span element.
*/

.action input:checked+span {
  background-color: #ffdb1d;
}

TEXTAREA {
  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 27px;
  height: 136px !important;
}

.ml-0 {
  margin-left: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.submit-btn {
  background: #ffdb1d;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 60px;
  padding: 14px 46px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  text-align: center;
  color: #0f0434;
  margin-top: 32px;
}

.footer {
  background-color: #000;
  padding: 36px;
}

.footer a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  /* identical to box height, or 145% */

  text-align: center;

  color: #ffffff;
}

.footer .fa {
  color: #fff;
}

.footer a {
  margin-right: 17px;
}

.email p{
  color: #fff;
  padding: 1px 168px;
}

.footer span {
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.storyoverlay {
  background: #000;
  width: 100%;
  bottom: 0;
  position: absolute;
  color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  padding: 23px;
  min-height: 123px;
  vertical-align: middle;
}

.checkboxwrap {
  display: flex;
}

.enroll-image {
  border-radius: 0px 158px;
  background: #17598D;
  width: 854px;
  margin: 120px auto;
  text-align: center;
  height: 165px;
  border-radius: 0px 158px;
  background: #17598D;
  padding: 25px;
}

.enroll-image p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 66px;
  text-align: center;
  color: #FFFFFF;
}

.enroll-image a {
  padding: 12px 40px;
  background: #FFDB1D;
  border-radius: 7px;
  color: #0A0A0A;
  font-weight: 700;
}

.team2nd .col {
  width: 20%;
  float: left;
  text-align: center;

}

.team2nd .col img {
  margin: 20px 0px;
}

@media only screen and (max-width: 600px) {
  #about-us {
    background-image: none !important;

  }

  .alert {
    font-size: 10px;
  }

  .btn {
    margin-left: 50px;
  }

  .ini-image img{
    margin-top: 15px;
  }

.team2nd img {
  margin-top: 15px;
}

.team2nd source {
  margin-top: 15px;
}

  .bannerText {
    font-size: 54px;
    padding: 120px 18px;
  }

  .checkboxwrap {
    display: unset;
  }

  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    left: 50%;
    margin-left: -10px;
  }

  .navbar .navbar-brand img {
    width: 63%;
  }

  .navbar .navbar-brand {
    padding: 0px;
    margin: 14px 28px;
  }

  h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 127%;
    letter-spacing: -0.5px;
    color: #04162f;
    padding: 50px 0px 30px 0px;
  }

  .btn {
    margin-bottom: 30px;
    margin-left: 28px;
  }

  .head {
    margin-top: 100px;
  }

  .tranches img {
    display: none;
  }

  .entrepreneures {
    padding-right: 0px;
  }

  .entre-txt {
    font-size: 20px;
    margin: 20px;
  }

  .backers img {
    max-width: 100%;
    margin: 30px auto;
  }

  .backers .col-sm-3 {
    text-align: center;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
    margin-top: 23px;
  }
}

.row {
  margin-right: unset;
}

.fa-discord:before {
  content: "\f392";
}

.fab {
  font-family: "Font Awesome 5 Brands";
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #8E2EF2;
}

@media screen and (max-width: 600px) {
  .home {
    margin-top: 0px;
  }
  .video{
    margin-top: 20px !important;
    width: 100%;
  }
  .video video{
    width: 100%;
  }

  .flip-card {
  
    margin-top: 21px;
}
  .team2nd .col img {
    margin: 18px 0px;
  }



  .team2nd .col {
    width: 100%;
    float: left;
  }

  .inner-testi {
    margin: 0px;
  }

  .first-testi {
    opacity: 0;
  }

  .inner-testi {
    min-height: 590px;
  }

  .inner-testi .name {
    padding-left: 1px;
  }

  .contact-section {
    width: 100%;
    margin: auto;
    text-align: left;
  }

  .ml-0 {
    margin-left: 25px;
  }

  .cat label {
    float: left;
    line-height: 3em;
    width: 17em;
  }

  .contact-section input {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 60px;
    padding: 26px 32px;
    margin-left: 24px;
    width: 90%;
  }

  .text-msg TEXTAREA {
    border-radius: 20px;
    width: 90%;
    margin-left: 29px;
  }
}

.pading-text {
  padding: 190px 80px;
}

.padding-image {
  padding: 60px 80px;
}











@media only screen and (max-width: 600px) {
  .contact-us {
    display: inline-block !important;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    left: 50%;
    margin-left: -10px;
  }

  .navbar .navbar-brand img {
    width: 63%;
  }
  .w-90 {
    width: 90%;
}
.padding-image {
  padding: 0px 7px;
}



  .navbar .navbar-brand {
    padding: 0px;
    margin: 14px 28px;
  }

  .enroll-image {

    background: #17598D;
    width: 345px;
    margin: 20px auto;
    text-align: center;
    height: 123px;
    border-radius: 0px 81px;
    background: #17598D;
    padding: 4px;
  }

  .enroll-image p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 66px;
    text-align: center;
    color: #FFFFFF;
  }

  .pading-text {
    padding: 10px 20px;
  }

  h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 127%;
    letter-spacing: -0.5px;
    color: #04162f;
    padding: 50px 0px 30px 0px;
  }

  .btn {
    margin-bottom: 30px;
  }

  .head {
    margin-top: 35px;
  }

  .tranches img {
    display: none;
  }

  .entrepreneures {
    padding-right: 0px;
  }

  .entre-txt {
    font-size: 20px;
    margin: 20px;
  }

  .backers img {
    max-width: 100%;
    margin: 30px auto;
  }

  .backers .col-sm-3 {
    text-align: center;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
    margin-top: 23px;
  }
}

.row {
  margin-right: unset;
}

.fa-discord:before {
  content: "\f392";
}

.fab {
  font-family: "Font Awesome 5 Brands";
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #8E2EF2;
}

#about-us {
  background-image: url(../image/dashboard-image.png);
  background-position: top right;
  background-repeat: no-repeat;
  height: 650px;
}





.bg-color-gray {
  background: #F1F0EF;
  padding: 27px 16px 65px 37px;
}

.thrd-section {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #636161;
}

.t-margin img {
  margin-top: 110px;
}



.bold {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;

}

.gray-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #818181;
}


.img-width img {
  width: 100%;
  margin-top: 30px;

}

.ini-image {
  padding: 20px 10px 0px 25px;
}

/* .img1-t-margin {
  
  display: block;
  padding: 80px 30px 0px 30px;
} */



.enroll-image img {
  margin-top: 130px;
  margin-left: 223px;
}

.accordion {
  background-color: #eee;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-weight: 700;
}

.accordian .active,
.accordian .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordian .active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.w-100 {
  width: 100%;
}

.m-17 p {
  margin-top: 17px;
}

.current {
  font-size: 43px;
  line-height: 58px;
  margin-top: 50px;
}